.mermaid {
  font-size: 14px;
  color: white;
  background: transparent;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(0, 255, 183, 0.1), 0 0 50px rgba(0, 255, 255, 0.08);
}
